# --- Environments ---
.venv/
venv/
env/
bin/
obj/
# Conda environments
.conda/
conda-env/

# --- Python Bytecode & Cache ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# --- Distribution / Packaging ---
dist/
build/
*.egg-info/
nosetests.xml
coverage.xml
*.lprof

# --- Secrets & Local Config ---
.env
.flaskenv
instance/
secrets.py
*.pem
*.key

# --- IDEs & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db


#--- test frontend ---

static/
template/

db.sqlite3